astroid==2.1.0
blessings==1.7
bpython==0.17.1
certifi==2018.11.29
chardet==3.0.4
curtsies==0.3.0
dj-database-url==0.5.0
Django==1.11
greenlet==0.4.15
gunicorn==19.9.0
idna==2.8
isort==4.3.4
lazy-object-proxy==1.3.1
mccabe==0.6.1
psycopg2==2.7.7
psycopg2-binary==2.7.7
Pygments==2.7.4
pylint==2.2.2
pytz==2018.9
requests==2.21.0
six==1.12.0
typed-ast==1.3.1
typing==3.6.6
urllib3==1.24.1
wcwidth==0.1.7
whitenoise==4.1.2
wrapt==1.11.1
