{% extends 'blog/base.html' %}

{% block content %}
    <h1>{{titulo}}</h1>
    <form method="POST" class="post-form"> {% csrf_token %}
        {{ form.as_p }}
        <div class="text-right">
                <button type="button" class=" btn btn-warning" onclick="atras()">Regresar</button>
                <button type="button" class=" btn btn-danger" onclick="regresar()">Regresar a lista</button>
                <button type="reset" class=" btn btn-info">Limpiar</button>
                <button type="submit" class=" btn btn-primary">Guardar</button>
        </div>
    </form>
    <script>
        function regresar(){
            window.location.pathname="{% url 'post_list' %}"
        }
        function atras(){
            window.history.back()
        }

    </script>
{% endblock %}