{% load static %}

<html>
    <head>
        <title>Tareas Universitarias 2019-1</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    </head>
    <body>
            <div>
                    <h1>Lista de tareas</h1>    
                </div>
        
        
        <div>{% for post in posts %}
            <h2><a href = "" >{{ post.title }} </a ></h2>
            <p>{{ post.text|linebreaksbr }} </p >
            <p> publicado: {{ post.published_date }} </p>  
        </div>
        {% endfor %}

        <div>
            <a href="https://google.com.pe">Ir a google</a>
        </div>

        <div>
                <a href="https://youtube.com">Ir a youtube</a>
        </div>

        <ul><li>primer elemento</li>
            <li>segundo elemento</li>
            <li>tercer elemento</li>
            <li>cuarto elemento</li>
            <li>quinto elemento</li>
        </ul>

        <div>
            <p><em>Hola mundo</em></p>
        </div>
        <div>
            <p>Hasddddddddddddddddddddddddddddddddddddddddddddgfdgdfgfdgdf<br>aasdasdsafdadsgasd<br>asdsafsa</p>
        </div>    
    </body>
</html>