{% extends 'blog/base.html' %}

    {% block content %}
        {% for post in posts %}
                <div class="post">
                    <div class="date">
                        <p> Publicado: {{ post.published_date }} </p>         
                    </div> 
                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <p>Descripcion: <strong>{{ post.text|linebreaksbr }}</strong> </p>
                <p> Creado: {{ post.create_date }} </p> 
                <p> Fecha de entrega: {{post.entrega_date}}</p>
                <p> Autor: {{post.author}}</p>
            </div>
        {% endfor %}
    {% endblock %}    
